@font-face {
    font-family: 'NotoSanJP';
    src: url('/assets/fonts/NotoSansJP/NotoSansJP-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSanJP';
    src: url('/assets/fonts/NotoSansJP/NotoSansJP-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
