<footer class="footer bg-black-500">
    <a class="text-white nav-link fs-11">{{'footer.member_registration' | translate}}</a>
    <a class="text-white nav-link fs-11">{{'footer.operating_company' | translate}}</a>
    <a class="text-white nav-link fs-11">{{'footer.member_registration' | translate}}</a>
    <a class="text-white nav-link fs-11">{{'footer.member_registration' | translate}}</a>
    <a class="text-white nav-link fs-11">{{'footer.member_registration' | translate}}</a>
    <a class="text-white nav-link fs-11">{{'footer.member_registration' | translate}}</a>
    
</footer>