@import '/src/styles.scss';

.to-top-btn {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 1px solid $gray;
    position: fixed;
    right: 5%;
    top: 30%;
    &:active, &:hover {
        border: 1px solid $black-500;
    }
    .icon {
        width: 15px;
        height: 15px;
        margin-left: 3px;
    }
    
}